{% extends "SNBackupBundle:Backup:base.html.twig" %}

{% block content %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-success"><i class="glyphicon glyphicon-ok-circle"></i> Backup successfully created</h1>
      </div>
    </div>
  </div>
{% endblock %}